.services {
    text-align: center;
    padding: 45px 0;

    @media screen and (min-width: 1025px) {
        padding: 85px 0;
    }
}

.services__article {
    display: flex;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding: 20px;
    background-color: $primary-color;
    border-radius: 15px;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        width: 75%;
    }
}

.services__img{
    border-radius: 15px;
}

.services__wrapper {
margin: 0 auto;
    padding-top: 20px;

    @media screen and (min-width: 768px) {
        padding: 20px;
    }
}

.services__text {
    max-width: 520px;
    font-family: $accent-font;
    font-size: 25px;
    line-height: 1.1;
    color: $secondary-color;
    margin: 10px auto 0 auto;

    @media screen and (max-width: 1440px) {
        font-size: 18px;
    }

    &::after {
        content: "";
        display: block;
        width: 50px;
        height: 2px;
        background-color: $secondary-color;
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;

        @media screen and (min-width:1025px) {
            margin-top: 20x;
        }
    }

}

.services__paragraph {
    max-width: 520px;
    font-family: inherit;
    color: $secondary-color;
    margin: 15px auto 0 auto;

    @media screen and (min-width: 1025px) {
        margin-top: 23px;
    }

    @media screen and (max-width: 1440px) {
        font-size: 16px;
    }
}

// Swiper

.services__swiper-button-prev,
.services__swiper-button-next {
    color: $primary-color;

}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 25px;

    @media screen and (max-width: 1024px) {
        font-size: 20px;
    }
}

.swiper-pagination-bullet-active {
    background: $primary-color;
}